.myTable1 { background-color:#E0FFDE;border-collapse:collapse;color:#000;font-size:18px; }
.myTable1 th { background-color:#33AD5C;color:black; }
.myTable1 td, .myTable1 th { padding:5px;border:0; }
.myTable1 td { border-bottom:1px dotted #BDB76B; }

#historytable th, #tickettable th, #tdrfilingtable th, #filetdrtable th, #tabletrains th, #avlbtable th, #booktable th, #goforcancellationtable th{
	background-color: #BBBBBB;
}
#historytable td, #tickettable td, #tdrfilingtable td, #filetdrtable td, #tabletrains td, #avlbtable td, #booktable td, #goforcancellationtable td{
	background-color: #DDDDDD;
}
#historytable, #tickettable, #tdrfilingtable, #filetdrtable, #tabletrains, #avlbtable, #booktable, #goforcancellationtable{
	border: solid #DDDDDD;
}
.vspace{
	margin-bottom:4cm;
}
.buttonclass{
	width:150px;
	height:50;
	background-color:#33AD5C;
}
.sbuttonclass{
	width:100px;
	font-size: 120%;
	height:40;
	background-color:#3BE068;
}

.traintable td{
	background-color:grey;
}
	
